*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#add,
#lower,
#reset {
    margin: 15px;
    border-radius: 360px;
    font-size: 20px;
}

.input {
    margin: 15px;
    width: 250px;
    font-size: 20px;
    border-radius: 235px;
}

.number_count {
    font-size: 150px;
}

.title {
    font-size: 35px;
}

.count_container {
    text-align: center;
}

body {
    background: linear-gradient(to right, rgb(253, 169, 12), rgb(247, 247, 33));
}