body {
    background: linear-gradient(to right, orange, rgb(245, 245, 11));
}

.title {
    color: black;
}

.forgot_password_box {
    text-align: center;
    border: 3px solid black;
    margin: 200px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.newPasswordBtns {
    margin: 25px;
    padding: auto;
}

input {
    border-radius: 7px;
    margin-bottom: 10px;
}

.new,
.old {
    text-decoration: none;
    color: white;
}

.new:hover {
    text-decoration: none;
    color: white;
}

.old:hover {
    text-decoration: none;
    color: white;
}

.confirmNewPasswordClass {
    margin-top: 20px;
}

.newPasswordClass {
    margin-top: 20px;
}

.newPassword {
    margin-right: 30px;
}

#message {
    margin-top: 20px;
}

#signInButton {
    margin-left: 20px;
}

#show {
    margin-left: 13px;
}

#hide {
    margin-left: 13px;
}

#show_Confirm {
    margin-left: 13px;
}

#hide_Confirm {
    margin-left: 13px;
}